<ul class="list-group bg-dark-blue text-center">
  <li
    routerLink="/home"
    class="list-group-item bg-dark-blue border-dark-grey hover-border-light-blue pointer focus-none"
  >
    <a class="text-white">
      <img
        style="height: 70px; width: 70px"
        src="../../../assets/blurbicon.png"
      />
    </a>
  </li>
  <li
    [routerLink]="['/viewuser', user.userId]"
    routerLinkActive="active-link"
    class="list-group-item bg-dark-blue border-dark-grey hover-border-light-blue hover-text-light-blue pointer focus-none"
  >
    <h6 class="text-white font-weight-bold my-3">Profile</h6>
  </li>
  <li
    routerLink="/home"
    routerLinkActive="active-link"
    class="list-group-item bg-dark-blue border-dark-grey hover-border-light-blue hover-text-light-blue pointer focus-none"
  >
    <h6 class="text-white font-weight-bold my-3">Home</h6>
  </li>
  <li
    routerLink="/followers"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item bg-dark-blue border-dark-grey hover-border-light-blue hover-text-light-blue pointer focus-none"
  >
    <h6 class="text-white font-weight-bold my-3">Followers</h6>
  </li>
</ul>
