/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bg-dark-blue {
  background-color: rgb(21 32 43) !important;
}

.bg-dark-blue-light {
  background-color: #192634 !important;
}

.bg-light-blue {
  background-color: rgb(96 175 243) !important;
}

.border-dark-grey {
  border: 1px solid rgb(42 53 63) !important;
}

.border-light-blue {
  border: 1px solid rgb(96 175 243) !important;
}

.pointer {
  cursor: pointer !important;
}

.hover-border-light-blue:hover {
  border: 1px solid rgb(96 175 243) !important;
}

.focus-none:focus {
  outline: none;
  /* border: 1px solid rgb(96 175 243) !important; */
}

.active-link {
  border: 1px solid rgb(96 175 243) !important;
}

a:hover {
  text-decoration: none;
}

.border-none {
  border: none;
}

.a-none {
  color: white;
  text-decoration: underline;
}

.a-none:hover {
  color: rgb(96 175 243);
  text-decoration: underline;
}

.pulse {
  animation: pulse 0.5s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
