<div>
  <form [formGroup]="user" novalidate>
    <div class="row justify-content-center mt-3">
      <div class="col-6 justify-content-center">
        <div class="d-flex justify-content-center">
          <img
            style="height: 70px; width: 70px"
            src="../../../assets/blurbicon.png"
          />
          <h1 class="text-white display-4">blurbs</h1>
        </div>
        <br />
        <div class="">
          <input
            class="form-control text-center"
            formControlName="name"
            type="text"
            placeholder="Name"
            name="name"
            id="name"
            required
          />
          <div class="row">
            <div style="height: 30px" class="col">
              <p
                *ngIf="
                  user.controls.name.invalid && (user.dirty || user.touched)
                "
                class="text-danger m-0"
              >
                Name is required.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <input
            class="form-control text-center"
            formControlName="screenName"
            type="text"
            placeholder="Screen Name"
            name="screenName"
            id="screenName"
            required
          />
          <div class="row">
            <div style="height: 30px" class="col">
              <p
                *ngIf="
                  user.controls.screenName.invalid &&
                  (user.dirty || user.touched)
                "
                class="text-danger m-0"
              >
                Screen Name is required.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <input
            class="form-control text-center"
            formControlName="username"
            type="text"
            placeholder="Username"
            name="username"
            id="username"
            required
          />
          <div class="row">
            <div style="height: 30px" class="col">
              <p
                *ngIf="
                  user.controls.username.invalid && (user.dirty || user.touched)
                "
                class="text-danger m-0"
              >
                Username is required.
              </p>
              <p *ngIf="usernameIsTaken" class="text-danger m-0">
                Username is already taken.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <input
            class="form-control text-center"
            formControlName="password"
            type="password"
            placeholder="Password"
            name="password"
            id="password"
            required
          />
          <div class="row">
            <div style="height: 30px" class="col">
              <p
                *ngIf="
                  user.controls.password.invalid && (user.dirty || user.touched)
                "
                class="text-danger m-0"
              >
                Password requires an uppercase letter, number, and special
                character
              </p>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <button
            class="btn btn-info btn-block"
            type="submit"
            (click)="onSubmit()"
          >
            Sign Up
          </button>
        </div>
        <div class="row-flex align-items-top mt-2">
          <div class="col-flex pr-0">
            <p class="text-white m-0">
              Already have an account?
              <a
                class="text-info m-0 pointer"
                type="submit"
                routerLink="/login"
              >
                Login
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
