<div class="row bg-dark-blue border-dark-grey py-2">
  <div class="col-9 text-center">
    <h3 class="m-0 text-white">Filtering By</h3>
  </div>
  <div class="col">
    <div class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Filter By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>

<div class="row flex-column" *ngFor="let b of blurbs">
  <div class="col">
    <div class="row bg-dark-blue border-dark-grey py-2 mt-2">
      <div class="col-1 pr-0">
        <div class="circle"></div>
      </div>
      <div class="col pl-1">
        <h6 class="m-0 text-white d-inline">{{ b.user.screenName }}</h6>
        <p
          style="font-size: medium; font-weight: 400"
          class="m-0 lead d-inline text-secondary"
        >
          @{{ b.user.screenName }}
        </p>
        <p
          style="font-size: medium; font-weight: 400"
          class="m-0 lead d-inline text-secondary"
        >
          ·
        </p>
        <p
          style="font-size: medium; font-weight: 400"
          class="m-0 lead d-inline text-secondary"
        >
          {{ moment(b.timestamp.toString()).fromNow(true) }}
        </p>
      </div>
    </div>
  </div>
</div>
