:host {
  width: 100%;
}

.circle {
  background: grey;
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 50%;
}

.circle-lg {
  background: grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
