<div class="row bg-dark-blue border-dark-grey py-2">
  <div class="col-7 px-3">
    <h3 class="m-0 text-white">{{ user.screenName }}'s Blurbs</h3>
    <p
      style="font-size: 15px; font-weight: 500"
      class="text-secondary d-inline my-0"
    >
      {{ blurbsByUserArr.length }} Blurbs
    </p>
  </div>
  <div class="col justify-content-end">
    <div class="row d-flex justify-content-end">
      <div
        style="min-width: 89px; max-height: 40"
        class="btn d-inline btn-outline-info mx-2"
        *ngIf="currentUser.userId === user.userId && !lazyLoad"
        routerLink="/user"
      >
        Edit
      </div>
      <div
        style="max-height: 50px"
        class="btn btn-outline-danger d-flex mx-1"
        *ngIf="currentUser.userId === user.userId"
        (click)="handleClick()"
      >
        <span class="mx-1">Logout</span>
        <span class="material-icons align-items-center my-auto mx-1">
          exit_to_app
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row flex-column bg-dark-blue border-dark-grey pt-5 px-1">
  <div class="col">
    <div class="row">
      <div class="col-2 text-center">
        <div
          class="circle-lg d-flex focus-none text-center text-white align-content-center justify-content-center"
        >
          <p class="my-auto display-4" style="font-weight: 400">
            {{ avatarLetter }}
          </p>
        </div>
      </div>
      <div class="col text-right my-auto">
        <div class="row d-flex justify-content-end align-items-top">
          <div
            (click)="handleFollow()"
            style="min-width: 89px"
            class="btn btn-outline-info align-top"
            *ngIf="
              currentUser.userId !== user.userId && !isFollowing && !lazyLoad
            "
          >
            Follow
          </div>
          <div
            style="max-height: 50px"
            class="btn btn-info d-flex mx-1"
            *ngIf="
              currentUser.userId !== user.userId && isFollowing && !lazyLoad
            "
            (click)="handleUnfollow()"
          >
            <span class="mx-1">Following</span>
            <span class="material-icons align-items-center my-auto mx-1">
              done
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h4 class="mb-0 text-white">{{ user.name }}</h4>
    <p
      style="font-size: large; font-weight: 400"
      class="m-0 lead text-secondary"
    >
      @{{ user.username }}
    </p>
    <div class="row py-2">
      <div class="col-2 d-flex align-items-center pl-3 pr-0">
        <p
          style="font-size: 15px; font-weight: 500"
          class="text-white d-inline my-0"
        >
          {{ following.length }}
        </p>
        <p
          style="font-size: 15px; font-weight: 400"
          class="lead text-secondary d-inline my-0 mx-1"
        >
          Following
        </p>
      </div>
      <div class="col-2 d-flex align-items-center p-0">
        <p
          style="font-size: 15px; font-weight: 500"
          class="text-white d-inline my-0"
        >
          {{ followers.length }}
        </p>
        <p
          style="font-size: 15px; font-weight: 400"
          class="lead text-secondary d-inline my-0 mx-1"
        >
          Followers
        </p>
      </div>
    </div>
  </div>
</div>

<div>
  <div
    class="row text-center mb3"
    style="margin-top: 12px; margin-bottom: 12px"
  >
    <h3 class="m-0 text-white">Filter/Sort:</h3>
    <button
      class="btn btn-dark dropdown-toggle"
      style="margin-left: 12px"
      (click)="toggleFilterSettingsVisible()"
    ></button>
  </div>
  <div class="row text-center" *ngIf="filterSettingsVisible">
    <div class="col text-white">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="settingsDropdownBtn"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        [textContent]="sortSettings.getSortName()"
      ></button>
      <div class="dropdown-menu" aria-labelledby="settingsDropdownBtn">
        <a class="dropdown-item" (click)="updateSortSetting(0)">Most Recent</a>
        <a class="dropdown-item" (click)="updateSortSetting(1)">Least Recent</a>
        <a class="dropdown-item" (click)="updateSortSetting(2)">10 - 0</a>
        <a class="dropdown-item" (click)="updateSortSetting(3)">0 - 10</a>
      </div>
    </div>
    <div class="col text-white">
      <button
        class="material-icons btn"
        (click)="toggleMovieFilter()"
        [ngStyle]="{
          color: sortSettings.includeMovies ? 'lightblue' : 'grey'
        }"
      >
        movie
      </button>
      <button
        class="material-icons btn"
        (click)="toggleBooksFilter()"
        [ngStyle]="{
          color: sortSettings.includeBooks ? 'lightblue' : 'grey'
        }"
      >
        menu_book
      </button>
      <button
        class="material-icons btn"
        (click)="toggleGamesFilter()"
        [ngStyle]="{
          color: sortSettings.includeGames ? 'lightblue' : 'grey'
        }"
      >
        sports_esports
      </button>
      <button
        class="material-icons btn"
        (click)="toggleTVFilter()"
        [ngStyle]="{
          color: sortSettings.includeTV ? 'lightblue' : 'grey'
        }"
      >
        tv
      </button>
    </div>
  </div>
</div>

<div
  class="row flex-column border-dark-grey py-2 mt-2 hover-border-light-blue"
  *ngFor="let b of blurbsByUserArr; index as i"
  infiniteScroll
  [infiniteScrollDisabled]="!canFetchMoreBlurbs"
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="500"
  (scrolled)="loadBlurbs(10)"
>
  <div
    class="col p-0 pointer"
    data-toggle="modal"
    attr.data-target="#noteModal{{ i }}"
  >
    <div class="row bg-dark-blue mx-auto">
      <div class="col-1 p-0 d-flex justify-content-center text-center">
        <div class="row flex-column">
          <div
            routerLink="/viewuser"
            class="circle d-flex focus-none text-center text-white align-content-center justify-content-center"
          >
            <p class="my-auto" style="font-size: xx-large; font-weight: 400">
              {{ avatarLetter }}
            </p>
          </div>
          <h3 class="mt-2 mb-0 d-inline">
            <span
              [ngStyle]="{ 'background-color': calcBkgColor(b.score) }"
              class="badge"
            >
              {{ b.score }}
            </span>
          </h3>
        </div>
      </div>
      <div class="col pl-1">
        <div class="row mx-auto">
          <div class="col">
            <div class="row flex-column">
              <h5 routerLink="/viewuser" class="mb-0 text-white focus-none">
                {{ b.user.screenName }}
              </h5>
              <p
                routerLink="/viewuser"
                style="font-size: medium; font-weight: 400"
                class="m-0 lead text-secondary focus-none"
              >
                @{{ b.user.username }}
              </p>
            </div>
          </div>
          <div class="col-6 text-center text-white">
            <h4 class="m-0 text-white">{{ b.media.name }}</h4>
          </div>

          <div class="col justify-content-end">
            <span
              class="material-icons float-right"
              [ngStyle]="{
                color: calcBkgColor(b.score)
              }"
            >
              {{ getTypeIcon(b.media.type) }}
            </span>
          </div>

          <div class="col">
            <p
              style="font-size: large; font-weight: 400"
              class="m-0 float-right lead text-secondary"
            >
              {{ moment(b.timestamp.toString()).fromNow() }}
            </p>
          </div>
        </div>

        <div class="row bg-dark-blue-light mt-2 mx-auto">
          <div class="col p-0">
            <p
              style="font-size: large; font-weight: 400"
              class="m-0 lead text-white"
            >
              {{ b.message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    attr.data-num="view{{ i }}"
    id="noteModal{{ i }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg bg-dark-blue">
      <div class="modal-content bg-dark-blue px-4">
        <div class="modal-header border-none justify-content-center">
          <h3
            class="modal-title text-white font-weight-light"
            id="exampleModalLabel"
          >
            {{ b.user.screenName }}
          </h3>
        </div>
        <div class="modal-body col justify-content-center text-center">
          <br />
          <div
            class="text-center row d-flex justify-content-center align-items-center"
          >
            <h2 class="text-white text-center">{{ b.media.name }}</h2>
            <span
              class="badge display-4"
              [ngStyle]="{
                'background-color': calcBkgColor(b.score),
                'font-size': 'xx-Large',
                'margin-left': '20px'
              }"
            >
              {{ b.score }}
            </span>
          </div>
          <br />
          <div class="row bg-dark-blue-light mt-2 mx-auto">
            <div class="col text-center py-2">
              <p
                style="font-size: large; font-weight: 400"
                class="m-0 lead text-white"
              >
                {{ b.message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
