<div class="container-fluid bg-dark-blue border-dark-grey">
  <div class="row flex-column">
    <div class="col text-center">
      <h3 class="m-0 text-white">User Profile</h3>
      <div
        class="row flex-column border-dark-grey py-2 mt-2 align-content-center"
      >
        <div class="col-4">
          <form [formGroup]="userEditForm">
            <br />
            <p class="m-0 text-white">Name</p>
            <input
              formControlName="name"
              class="form-control text-center"
              type="text"
              name="name"
              id="name"
              value="{{ user.name }}"
              ngModel="{{ user.name }}"
            />
            <br />
            <br />
            <p class="m-0 text-white">Screen Name</p>
            <input
              formControlName="screenName"
              class="form-control text-center"
              type="text"
              name="screenName"
              id="screenName"
              value="{{ user.screenName }}"
              ngModel="{{ user.screenName }}"
            />
            <br />
            <br />
            <p class="m-0 text-white">Password</p>
            <input
              formControlName="password"
              class="form-control text-center"
              type="password"
              name="password"
              id="password"
              value="{{ user.password }}"
              ngModel="{{ user.password }}"
            />
            <div>
              <br />
              <button
                type="submit"
                [routerLink]="['/viewuser', user.userId]"
                class="btn btn-info"
                (click)="onSubmit()"
              >
                Confirm Edit
              </button>
            </div>
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
    <button class="btn btn-info" (click)="logout()">Logout</button>
    <button class="btn btn-danger" [routerLink]="['/viewuser', user.userId]">
      Cancel
    </button>
  </div>
</div>
