<div class="container-fluid bg-dark-blue border-dark-grey">
  <div class="row flex-column">
    <div class="col text-center">
      <h3 class="m-0 text-white">User Profile</h3>
      <div class="row flex-column border-dark-grey py-2 mt-2">
        <p class="m-0 text-white">{{ user.name }}</p>
        <form [formGroup]="userEditForm">
          <input
            formControlName="name"
            [(ngModel)]="user.name"
            type="text"
            name="Name"
            id="Name"
            placeholder="{{ user.name }}"
          />
          <input
            formControlName="screenName"
            [(ngModel)]="user.screenName"
            type="text"
            name="screenName"
            id="screenName"
            placeholder="{{ user.screenName }}"
          />
          <input
            formControlName="password"
            [(ngModel)]="user.password"
            type="password"
            name="password"
            id="password"
            placeholder="{{ user.password }}"
          />
          <div>
            <button type="submit" (click)="onSubmit()">Confirm Edit</button>
          </div>
        </form>
      </div>
      <div class="row flex-column border-dark-grey py-2 mt-2">
        <button class="block;" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
