<div>
  <form [formGroup]="loginForm" novalidate>
    <div>
      <label>Please log in</label>
      <br />
      <input
        formControlName="username"
        type="text"
        placeholder="Name"
        name="username"
        id="username"
        required
      />
      <br />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        name="password"
        id="password"
        required
      />
      <br />
    </div>
    <div>
      <button type="submit" (click)="onSubmit()">Login</button>
    </div>
  </form>
</div>
